header {
    padding: 10px;
}

header nav {
    
}
body {
    background-color: rgb(234, 204, 166);
}

header img{
    width: 100%;
    padding: 20px;

    background-color: rgb(5, 45, 5);
}

.container {
    margin: 20px;
    padding: 20px;
    background-color:antiquewhite;
}

.contact {
    margin: 20px;
    padding: 20px;
    background-color:antiquewhite;
}